<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>params</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th> parameter </th>
                <th> value </th>
            </tr>
            <tr>
                {% for key, value in  item %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>

                {% endfor %}
            </tr>
        </table>



    </div>

</body>
</html>